<!DOCTYPE html>
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Demo Calculator</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body bgcolor="#009933">

<h1>Simple:</h1>
<form action="#" th:action="@{/calculator}" th:object="${operation}" method="POST">
  <input type="text" th:field="*{value1}"/>
  <input type="text" th:field="*{value2}"/>
  <p>
    <input type="submit" class="button" name="add" value="+"/>
    <input type="submit" class="button" name="subtract" value="-"/>
    <input type="submit" class="button" name="multiply" value="*"/>
    <input type="submit" class="button" name="divide" value="/"/>
    <input type="submit" class="button" name="clearSimple" value="C"/>
  </p>

  <h1>Advanced:</h1>
  <input type="text" th:field="*{value3}"/>
  <p>
    <input type="submit" class="button" name="clearAdvanced" value="C"/>
  </p>
  <h1><p th:text="'result: ' + ${result}"/></h1>
</form>
</body>
</html>